@model Eshopper_website.Models.Blog

@{
    ViewData["Title"] = "Blog - Create";
    ViewData["Active"] = "Blog";
}

@section Headers {
    <link rel="stylesheet" href="~/lib/ckeditor5/ckeditor5.css" />
}

<div class="app-content-header">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Row-->
        <div class="row">
            <div class="col-sm">
                <h3 class="mb-0">Create</h3>
            </div>
        </div> <!--end::Row-->
    </div> <!--end::Container-->
</div>

<div class="app-content">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Row-->
        <div class="row">
            <div class="col-12">
                <!-- Default box -->
                <div class="card card-success card-outline">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col-md"><h3 class="card-title">Create Blog</h3></div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form asp-action="Create" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group mb-3">
                                <div class="row align-items-center">
                                    <div class="col-sm-3">
                                        <label asp-for="BLG_Title" class="control-label"></label>
                                    </div>
                                    <div class="col-sm">
                                        <input asp-for="BLG_Title" class="form-control w-100" maxlength="100"/>
                                        <span asp-validation-for="BLG_Title" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <div class="row align-items-center">
                                    <div class="col-sm-3">
                                        <label asp-for="BLG_Image" class="control-label"></label>
                                    </div>
                                    <div class="col-sm">
                                        <input asp-for="BLG_Image" class="form-control" type="file" accept="image/*" />
                                        <span asp-validation-for="BLG_Image" class="text-danger"></span>
                                        <div class="w-100 mt-2">
                                            <img id="imgPreview" alt="Avatar" class="img-fluid" width="300px" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <div class="row align-items-center">
                                    <div class="col-sm-3">
                                        <label asp-for="BLG_Slug" class="control-label"></label>
                                    </div>
                                    <div class="col-sm">
                                        <input asp-for="BLG_Slug" class="form-control" maxlength="100" readonly/>
                                        <span asp-validation-for="BLG_Slug" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <div class="row align-items-center">
                                    <div class="col-sm-3">
                                        <label asp-for="BLG_Content" class="control-label"></label>
                                    </div>
                                    <div class="col-sm">
                                        <textarea asp-for="BLG_Content" class="form-control h-100" rows="6"></textarea>
                                        <span asp-validation-for="BLG_Content" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <div class="row align-items-center">
                                    <div class="col-sm-3">
                                        <label asp-for="BLG_AuthorName" class="control-label"></label>
                                    </div>
                                    <div class="col-sm">
                                        <input asp-for="BLG_AuthorName" class="form-control" maxlength="50"/>
                                        <span asp-validation-for="BLG_AuthorName" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group mb-3">
                                <div class="row align-items-center">
                                    <div class="col-sm-3">
                                        <label asp-for="BLG_PublishedAt" class="control-label"></label>
                                    </div>
                                    <div class="col-sm">
                                        <input asp-for="BLG_PublishedAt" class="form-control" />
                                        <span asp-validation-for="BLG_PublishedAt" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary w-100" />
                            </div>
                        </form>
                    </div> <!-- /.card-body -->
                    <div class="card-footer">
                        <a class="text-success" role="button" asp-action="Index"><i class="fa-solid fa-right-to-bracket"></i> <span class="ms-2">Back to List</span></a>
                    </div>
                </div> <!-- /.card -->
            </div>
        </div> <!--end::Row-->
    </div> <!--end::Container-->
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script type="importmap">
        {
            "imports": {
                "ckeditor5": "/lib/ckeditor5/ckeditor5.js",
                "ckeditor5/": "/lib/ckeditor5/"
            }
        }
    </script>
    <script type="module">
        import {
            ClassicEditor,
            Essentials,
            Paragraph,
            Bold,
            Italic,
            Font,
            Underline,
            Alignment
        } from 'ckeditor5';

        ClassicEditor
            .create(document.querySelector('#BLG_Content'), {
                plugins: [Essentials, Paragraph, Bold, Italic, Font, Underline, Alignment],
                toolbar: [
                    'undo', 'redo', '|', 'bold', 'italic', '|',
                    'fontSize', 'fontFamily', 'fontColor', 'fontBackgroundColor', '|',
                    'underline', 'alignment'
                ]
            })
            .then(editor => {
                window.editor = editor;
            })
            .catch(error => {
                console.error(error);
            });
    </script>
    <script>
        window.onload = () => {
            document.getElementById("BLG_Image").onchange = (e) => {
                var preview = document.getElementById('imgPreview');
                var file = e.target.files[0];
                var reader = new FileReader();

                reader.onloadend = function () {
                    preview.src = reader.result;
                }

                if (file) {
                    reader.readAsDataURL(file);
                } else {
                    preview.src = '';
                }
            };
        }
    </script>
}
