@model IEnumerable<Menu>

<nav class="mt-2">
    <!--begin::Sidebar Menu-->
    <ul class="nav sidebar-menu flex-column " data-lte-toggle="treeview" role="menu" data-accordion="false">
        @foreach (var item in Model)
        {
             <li class="nav-item">
                <a asp-action="Index" asp-controller="@item.MEN_Controller" class="nav-link @(ViewData["Active"] == item.MEN_Controller.ToString() ? "active" : "")">
                    <i class="nav-icon @item.MEN_Icon"></i>
                    <p>
                        @item.MEN_Title
                    </p>
                </a>
            </li>
        }
    </ul> <!--end::Sidebar Menu-->
</nav>