@model Eshopper_website.Models.Category

@{
    ViewData["Title"] = "Category - Edit";
    ViewData["Active"] = "Category";
}

@section Headers {
    <link rel="stylesheet" href="~/lib/ckeditor5/ckeditor5.css" />
}

<!--begin::App Content Header-->
<div class="app-content-header">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Row-->
        <div class="row">
            <div class="col-sm">
                <h3 class="mb-0">Category</h3>
            </div>
        </div> <!--end::Row-->
    </div> <!--end::Container-->
</div>
<!--end::App Content Header-->
<!--begin::App Content-->
<div class="app-content">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Row-->
        <div class="row">
            <div class="col-12">
                <!-- Default box -->
                <div class="card card-success card-outline">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col-md"><h3 class="card-title">Edit Category</h3></div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <form asp-action="Edit">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <input type="hidden" asp-for="CAT_ID" />
                                    <div class="form-group mb-3">
                                        <div class="row align-items-center">
                                            <div class="col-sm-3">
                                                <label asp-for="CAT_Name" class="control-label"></label>
                                            </div>
                                            <div class="col-sm">
                                                <input asp-for="CAT_Name" class="form-control" maxlength="15" />
                                                <span asp-validation-for="CAT_Name" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group mb-3">
                                        <div class="row align-items-center">
                                            <div class="col-sm-3">
                                                <label asp-for="CAT_Description" class="control-label"></label>
                                            </div>
                                            <div class="col-sm">
                                                <textarea asp-for="CAT_Description" class="form-control"></textarea>
                                                <span asp-validation-for="CAT_Description" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group mb-3">
                                        <div class="row align-items-center">
                                            <div class="col-sm-3">
                                                <label asp-for="CAT_Slug" class="control-label"></label>
                                            </div>
                                            <div class="col-sm">
                                                <input asp-for="CAT_Slug" class="form-control" />
                                                <span asp-validation-for="CAT_Slug" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group mb-3">
                                        <div class="row align-items-center">
                                            <div class="col-sm-3">
                                                <label asp-for="CAT_Status" class="control-label"></label>
                                            </div>
                                            <div class="col-sm">
                                                @* <input asp-for="CAT_Status" class="form-control" /> *@
                                                <span asp-validation-for="CAT_Status" class="text-danger"></span>
                                                <select asp-for="CAT_Status" class="form-select">
                                                    <option value="1">Active</option>
                                                    <option value="2">Inactive</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group mb-3">
                                        <div class="row align-items-center">
                                            <div class="col-sm-3">
                                                <label asp-for="CAT_DisplayOrder" class="control-label"></label>
                                            </div>
                                            <div class="col-sm">
                                                <input asp-for="CAT_DisplayOrder" class="form-control" />
                                                <span asp-validation-for="CAT_DisplayOrder" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Save" class="btn btn-primary w-100" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div> <!-- /.card-body -->
                    <div class="card-footer">
                        <a class="text-success" role="button" asp-action="Index"><i class="fa-solid fa-right-to-bracket"></i> <span class="ms-2">Back to List</span></a>
                    </div>
                </div> <!-- /.card -->
            </div>
        </div> <!--end::Row-->
    </div> <!--end::Container-->
</div>
<!--end::App Content-->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="importmap">
        {
            "imports": {
                "ckeditor5": "/lib/ckeditor5/ckeditor5.js",
                "ckeditor5/": "/lib/ckeditor5/"
            }
        }
    </script>
    <script type="module">
        import {
            ClassicEditor,
            Essentials,
            Paragraph,
            Bold,
            Italic,
            Font,
            Underline,
            Alignment
        } from 'ckeditor5';

        ClassicEditor
            .create(document.querySelector('#CAT_Description'), {
                plugins: [Essentials, Paragraph, Bold, Italic, Font, Underline, Alignment],
                toolbar: [
                    'undo', 'redo', '|', 'bold', 'italic', '|',
                    'fontSize', 'fontFamily', 'fontColor', 'fontBackgroundColor', '|',
                    'underline', 'alignment'
                ]
            })
            .then(editor => {
                window.editor = editor;
            })
            .catch(error => {
                console.error(error);
            });
    </script>
}
