@inject IConfiguration configuration
@{
    Layout = null;
    var siteKey = configuration["ReCaptchaSetting:SiteKey"];
}

<!DOCTYPE html>
<html lang="en">
<!--begin::Head-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Admin EShopper | Register Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="Admin EShopper | Register Page">
    <meta name="author" content="ColorlibHQ">
    <meta name="description" content="Admin EShopper is a website for admin, 30 example pages using Vanilla JS.">
    <meta name="keywords" content="bootstrap 5, bootstrap, bootstrap 5 admin dashboard, bootstrap 5 dashboard, bootstrap 5 charts, bootstrap 5 calendar, bootstrap 5 datepicker, bootstrap 5 tables, bootstrap 5 datatable, vanilla js datatable, colorlibhq, colorlibhq dashboard, colorlibhq admin dashboard">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@fontsource/source-sans-3@5.0.12/index.css" />
    <link rel="stylesheet" href="~/admin/plugins/overlayscrollbars/styles/overlayscrollbars.min.css" />
    <link rel="stylesheet" href="~/admin/plugins/bootstrap-icons/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="~/admin/plugins/font-awesome/css/all.css" />
    <link rel="stylesheet" href="~/admin/css/adminlte.css" />
    <link rel="stylesheet" href="~/admin/css/custom.css" />
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body class="register-page bg-body-secondary">
    <div class="register-box">
        <div class="card card-outline card-success">
            <div class="card-header">
                <a href="#" class="link-dark text-center link-offset-2 link-opacity-100 link-opacity-50-hover">
                    <h1 class="mb-0"> <b>Admin</b> EShopper</h1>
                </a>
            </div>
            <div class="card-body register-card-body rounded">
                <p class="register-box-msg text-danger">@ViewData["Message"]</p>
                <form asp-action="Register" asp-area="Admin" asp-controller="User">
                    @* <input type="hidden" id="reCaptchaTokenInputId" asp-for="ReCaptchaToken" /> *@
                    <div class="row align-items-center mb-4">
                        <div class="col-md input-group">
                            <div class="form-floating">
                                <input id="username" name="UserName" type="text" class="form-control" maxlength="20">
                                <label for="username">Username</label>
                            </div>
                            <div class="input-group-text"> <i class="fa-light fa-user"></i> </div>
                        </div>
                        <div class="col-md input-group">
                            <div class="form-floating">
                                <input id="displayname" name="DisplayName" type="text" class="form-control" maxlength="50">
                                <label for="displayname">Name</label>
                            </div>
                            <div class="input-group-text"> <i class="fa-light fa-file-signature"></i> </div>
                        </div>
                    </div>
                    <div class="row align-items-center mb-4">
                        <div class="col-md input-group">
                            <div class="form-floating">
                                <input id="phone" name="Phone" type="tel" class="form-control" maxlength="12">
                                <label for="phone">Phone</label>
                            </div>
                            <div class="input-group-text"> <i class="fa-thin fa-mobile"></i> </div>
                        </div>
                        <div class="col-md input-group">
                            <div class="form-floating">
                                <input id="email" name="Email" type="email" class="form-control" maxlength="30">
                                <label for="email">Email</label>
                            </div>
                            <div class="input-group-text"> <i class="fa-regular fa-at"></i> </div>
                        </div>
                    </div>
                    <div class="input-group mb-4">
                        <div class="form-floating">
                            <input id="password" name="Password" type="password" class="form-control" maxlength="20">
                            <label for="password">Password</label>
                        </div>
                        <div class="input-group-text"> <i class="fa-thin fa-lock"></i> </div>
                    </div>
                    <div class="input-group mb-4">
                        <div class="form-floating">
                            <input id="confirmedpassword" name="ConfirmedPassword" type="password" class="form-control" maxlength="20">
                            <label for="confirmedpassword">ConfirmedPassword</label>
                        </div>
                        <div class="input-group-text"> <i class="fa-thin fa-lock"></i> </div>
                    </div>

                    <div class="row mb-3">
                        <div class="">
                            @* <div id="html_element"></div> *@
                            <div class="g-recaptcha" data-sitekey="@siteKey"></div>
                        </div>
                    </div>
                    <div class="">
                        <button type="submit" class="btn btn-success w-100">Sign Up</button>
                    </div>
                </form>
                <p class="text-center"> <a asp-action="Login" asp-controller="User" asp-area="Admin">Have already account? Go to sign in.</a> </p>
            </div> 

        </div>
    </div>
    <script src="~/admin/plugins/overlayscrollbars/browser/overlayscrollbars.browser.es6.min.js"></script>
    <script src="~/admin/js/bootstrap.bundle.min.js"></script>
    <script src="~/admin/js/adminlte.js"></script>
    <script src="~/admin/plugins/jquery/jquery-3.7.1.min.js"></script>
@*     <script type="text/javascript">
        var onloadCallback = function () {
            grecaptcha.render('html_element', {
                'sitekey': '@siteKey'
            });
        };
        function onSubmit(event) {
            var token = grecaptcha.getResponse();
            document.getElementById("reCaptchaTokenInputId").value = token;
        }
    </script> *@

   @*  <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
            async defer>
    </script> *@
    <script>
        //===================== begin::OverlayScrollbars Configure =====================
        const SELECTOR_SIDEBAR_WRAPPER = ".sidebar-wrapper";
        const Default = {
            scrollbarTheme: "os-theme-dark",
            scrollbarAutoHide: "leave",
            scrollbarClickScroll: true,
        };
        document.addEventListener("DOMContentLoaded", function () {
            const sidebarWrapper = document.querySelector(SELECTOR_SIDEBAR_WRAPPER);
            if (
                sidebarWrapper &&
                typeof OverlayScrollbarsGlobal?.OverlayScrollbars !== "undefined"
            ) {
                OverlayScrollbarsGlobal.OverlayScrollbars(sidebarWrapper, {
                    scrollbars: {
                        theme: Default.scrollbarTheme,
                        autoHide: Default.scrollbarAutoHide,
                        clickScroll: Default.scrollbarClickScroll,
                    },
                });
            }
        });
        //===================== end::OverlayScrollbars Configure =====================

    </script>
</body>
</html>
