@{
    ViewData["Title"] = "About Us";
}

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="about-page">
                    <h2 class="title text-center">About Us</h2>

                    <!-- Company Introduction -->
                    <div class="about-section">
                        <div class="row">
                            <div class="col-sm-6">
                                <img src="~/images/about/company.jpg" alt="Company" class="img-responsive" />
                            </div>
                            <div class="col-sm-6">
                                <h3>Welcome to E-Shopper</h3>
                                <p>
                                    E-Shopper là một trong những cửa hàng trực tuyến hàng đầu chuyên cung cấp các sản phẩm
                                    công nghệ chất lượng cao. Chúng tôi tự hào mang đến cho khách hàng những trải nghiệm
                                    mua sắm tuyệt vời nhất với đa dạng sản phẩm từ các thương hiệu uy tín trên thế giới.
                                </p>
                                <p>
                                    Với hơn 10 năm kinh nghiệm trong lĩnh vực thương mại điện tử, chúng tôi cam kết mang
                                    đến cho khách hàng:
                                </p>
                                <ul class="about-list">
                                    <li><i class="fa fa-check"></i> Sản phẩm chính hãng 100%</li>
                                    <li><i class="fa fa-check"></i> Giá cả cạnh tranh</li>
                                    <li><i class="fa fa-check"></i> Dịch vụ chăm sóc khách hàng tận tâm</li>
                                    <li><i class="fa fa-check"></i> Chế độ bảo hành uy tín</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Our Mission -->
                    <div class="mission-section">
                        <div class="row">
                            <div class="col-sm-12">
                                <h3 class="text-center">Our Mission</h3>
                                <div class="mission-content">
                                    <div class="col-sm-4">
                                        <div class="mission-box">
                                            <i class="fa fa-heart"></i>
                                            <h4>Chất Lượng</h4>
                                            <p>Cam kết cung cấp sản phẩm chất lượng cao, đáp ứng mọi nhu cầu của khách hàng.</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="mission-box">
                                            <i class="fa fa-star"></i>
                                            <h4>Dịch Vụ</h4>
                                            <p>Mang đến trải nghiệm mua sắm trực tuyến tuyệt vời với dịch vụ chuyên nghiệp.</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="mission-box">
                                            <i class="fa fa-shield"></i>
                                            <h4>Uy Tín</h4>
                                            <p>Xây dựng niềm tin với khách hàng thông qua sự minh bạch và trách nhiệm.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Our Team -->
                    <div class="team-section">
                        <h3 class="text-center">Our Team</h3>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="team-member">
                                    <img src="~/images/about/team1.jpg" alt="Team Member" />
                                    <h4>John Doe</h4>
                                    <p>CEO & Founder</p>
                                    <div class="social-icons">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="team-member">
                                    <img src="~/images/about/team2.jpg" alt="Team Member" />
                                    <h4>Jane Smith</h4>
                                    <p>Marketing Director</p>
                                    <div class="social-icons">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="team-member">
                                    <img src="~/images/about/team3.jpg" alt="Team Member" />
                                    <h4>Mike Johnson</h4>
                                    <p>Technical Lead</p>
                                    <div class="social-icons">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="team-member">
                                    <img src="~/images/about/team4.jpg" alt="Team Member" />
                                    <h4>Sarah Williams</h4>
                                    <p>Customer Support</p>
                                    <div class="social-icons">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Contact Info -->
                    <div class="contact-section">
                        <div class="row">
                            <div class="col-sm-12">
                                <h3 class="text-center">Contact Us</h3>
                                <div class="contact-info">
                                    <div class="col-sm-4">
                                        <div class="contact-box">
                                            <i class="fa fa-map-marker"></i>
                                            <h4>Address</h4>
                                            <p>123 E-Shopper Street, Digital City, Tech Country</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="contact-box">
                                            <i class="fa fa-phone"></i>
                                            <h4>Phone</h4>
                                            <p>+1 234 567 8900</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="contact-box">
                                            <i class="fa fa-envelope"></i>
                                            <h4>Email</h4>
                                            <p>info@eshopper.com</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
        /* About Page Styles */
    .about-page {
        padding: 40px 0;
    }

    .about-section {
        margin-bottom: 50px;
    }

    .about-section h3 {
        color: #FE980F;
        margin-bottom: 20px;
    }

    .about-list {
        list-style: none;
        padding: 0;
    }

    .about-list li {
        margin-bottom: 10px;
    }

    .about-list i {
        color: #FE980F;
        margin-right: 10px;
    }

    /* Mission Section */
    .mission-section {
        background-color: #f8f8f8;
        padding: 50px 0;
        margin-bottom: 50px;
    }

    .mission-box {
        text-align: center;
        padding: 20px;
        margin-bottom: 30px;
    }

    .mission-box i {
        font-size: 40px;
        color: #FE980F;
        margin-bottom: 20px;
    }

    .mission-box h4 {
        color: #333;
        margin-bottom: 15px;
    }

    /* Team Section */
    .team-section {
        margin-bottom: 50px;
    }

    .team-member {
        text-align: center;
        margin-bottom: 30px;
    }

    .team-member img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin-bottom: 15px;
    }

    .team-member h4 {
        color: #333;
        margin-bottom: 5px;
    }

    .team-member p {
        color: #FE980F;
        margin-bottom: 15px;
    }

    .social-icons a {
        display: inline-block;
        width: 35px;
        height: 35px;
        line-height: 35px;
        background-color: #f8f8f8;
        color: #FE980F;
        border-radius: 50%;
        margin: 0 5px;
        transition: all 0.3s ease;
    }

    .social-icons a:hover {
        background-color: #FE980F;
        color: #fff;
    }

    /* Contact Section */
    .contact-section {
        background-color: #f8f8f8;
        padding: 50px 0;
    }

    .contact-box {
        text-align: center;
        padding: 20px;
    }

    .contact-box i {
        font-size: 30px;
        color: #FE980F;
        margin-bottom: 15px;
    }

    .contact-box h4 {
        color: #333;
        margin-bottom: 10px;
    }

    /* Responsive Design */
    /* media (max-width: 768px) {
        .about-section img {
            margin-bottom: 20px;
        } */

        .team-member {
            margin-bottom: 40px;
        }
    }
</style>