@* @model Eshopper_website.Models.Order

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MEM_ID" class="control-label"></label>
                <select asp-for="MEM_ID" class ="form-control" asp-items="ViewBag.MEM_ID"></select>
            </div>
            <div class="form-group">
                <label asp-for="ORD_OrderCode" class="control-label"></label>
                <input asp-for="ORD_OrderCode" class="form-control" />
                <span asp-validation-for="ORD_OrderCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ORD_Description" class="control-label"></label>
                <input asp-for="ORD_Description" class="form-control" />
                <span asp-validation-for="ORD_Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ORD_Status" class="control-label"></label>
                <select asp-for="ORD_Status" class="form-control"></select>
                <span asp-validation-for="ORD_Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ORD_ShippingCost" class="control-label"></label>
                <input asp-for="ORD_ShippingCost" class="form-control" />
                <span asp-validation-for="ORD_ShippingCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ORD_CouponCode" class="control-label"></label>
                <input asp-for="ORD_CouponCode" class="form-control" />
                <span asp-validation-for="ORD_CouponCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ORD_PaymentMethod" class="control-label"></label>
                <select asp-for="ORD_PaymentMethod" class="form-control"></select>
                <span asp-validation-for="ORD_PaymentMethod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ORD_TotalPrice" class="control-label"></label>
                <input asp-for="ORD_TotalPrice" class="form-control" />
                <span asp-validation-for="ORD_TotalPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedDate" class="control-label"></label>
                <input asp-for="UpdatedDate" class="form-control" />
                <span asp-validation-for="UpdatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedBy" class="control-label"></label>
                <input asp-for="UpdatedBy" class="form-control" />
                <span asp-validation-for="UpdatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
 *@