@model Eshopper_website.Models.Menu

@{
    ViewData["Title"] = "Menu - Create";
    ViewData["Active"] = "Menu";
}

<!--begin::App Content Header-->
<div class="app-content-header">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Row-->
        <div class="row">
            <div class="col-sm">
                <h3 class="mb-0">Menu</h3>
            </div>
        </div> <!--end::Row-->
    </div> <!--end::Container-->
</div>
<!--end::App Content Header-->
<!--begin::App Content-->
<div class="app-content">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Row-->
        <div class="row">
            <div class="col-12">
                <!-- Default box -->
                <div class="card card-success card-outline">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col-md"><h3 class="card-title">Create Menu</h3></div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="PARENT_ID" class="control-label"></label>
                                <select asp-for="PARENT_ID" class="form-select" asp-items="ViewBag.PARENT_ID">
                                    <option value="">--- TOP MENU ---</option>
                                </select>
                                <span asp-validation-for="PARENT_ID" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="MEN_Title" class="control-label"></label>
                                <input asp-for="MEN_Title" class="form-control" />
                                <span asp-validation-for="MEN_Title" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="MEN_DisplayOrder" class="control-label"></label>
                                <input asp-for="MEN_DisplayOrder" class="form-control" />
                                <span asp-validation-for="MEN_DisplayOrder" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="MEN_Icon" class="control-label"></label>
                                <input asp-for="MEN_Icon" class="form-control" maxlength="50"/>
                                <span asp-validation-for="MEN_Icon" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="MEN_Status" class="control-label"></label>
                                <select asp-for="MEN_Status" class="form-select">
                                    <option value="1">User</option>
                                    <option value="2">Admin</option>
                                </select>
                                <span asp-validation-for="MEN_Status" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="MEN_Controller" class="control-label"></label>
                                <input asp-for="MEN_Controller" class="form-control" />
                                <span asp-validation-for="MEN_Controller" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary w-100 mt-3 mb-3" />
                            </div>

                            <div class="card-footer">
                                <a class="text-success" role="button" asp-action="Index"><i class="fa-solid fa-right-to-bracket"></i> <span class="ms-2">Back to List</span></a>
                            </div>

                        </form>
                    </div> <!-- /.card-body -->
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    } 
}
