@model IEnumerable<Brand>

@foreach (var item in Model)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title"><a asp-action="Index" asp-controller="Brand" asp-route-slug="@item.BRA_Slug">@item.BRA_Name</a></h4>
        </div>
    </div>
   
}