/* From Uiverse.io by OnlyCodeChannel */
.searchBox {
    display: flex;
    max-width: 200px;
    max-height:40px;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    background: #ffff;
    border-radius: 50px;
    border:groove;
    position: relative;
}

.searchButton {
    color: white;
    position: absolute;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: var(--gradient-2, linear-gradient(90deg, #2AF598 0%, #009EFD 100%));
    border: 0;
    display: inline-block;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}
/*hover effect*/
button:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.5) 0 10px 20px;
    transform: translateY(-3px);
}
/*button pressing effect*/
button:active {
    box-shadow: none;
    transform: translateY(0);
}

.searchInput {
    border: none;
    background: none;
    outline: none;
    color: black;
    font-size: 15px;
    padding: 14px 16px 14px 16px;
}

/* From Uiverse.io by LightAndy1 */
.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 190px;
}

.input {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    height: 45px;
    padding-left: 2.5rem;
    box-shadow: 0 0 0 1.5px #2b2c37, 0 0 25px -17px #000;
    border: 0;
    border-radius: 12px;
    background-color: #16171d;
    outline: none;
    color: #bdbecb;
    transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
    cursor: text;
    z-index: 0;
}

    .input::placeholder {
        color: #bdbecb;
    }

    .input:hover {
        box-shadow: 0 0 0 2.5px #2f303d, 0px 0px 25px -15px #000;
    }

    .input:active {
        transform: scale(0.95);
    }

    .input:focus {
        box-shadow: 0 0 0 2.5px #2f303d;
    }

.search-icon {
    position: absolute;
    left: 1rem;
    fill: #bdbecb;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    z-index: 1;
}



.app-sidebar {
    background-color: white !important;
}

a {
  color: #198754;
}
a:hover {
  color: #198754;
}

.sidebar-wrapper .sidebar-menu > .nav-item.menu-open .nav-link.active:not(:hover) {
  --lte-sidebar-menu-active-bg: #198754;
}
.app-sidebar {
  --lte-sidebar-hover-bg: #198754;
  --lte-sidebar-color: #343a40;
  --lte-sidebar-hover-color: #fff;
  --lte-sidebar-active-color: #fff;
  --lte-sidebar-menu-active-bg: #198754;
  --lte-sidebar-menu-active-color: #fff;
  --lte-sidebar-submenu-bg: transparent;
  --lte-sidebar-submenu-color: #777;
  --lte-sidebar-submenu-hover-color: #fff;
  --lte-sidebar-submenu-hover-bg: #198754;
  --lte-sidebar-submenu-active-color: #fff;
  --lte-sidebar-submenu-active-bg: #198754;
  --lte-sidebar-header-color: #31373d;
}

.dt-paging .page-link.active, .dt-paging .active > .page-link {
  color: #fff;
  background-color: #198754;
  border-color: #198754;
}
.dt-paging .page-link {
  color: #198754;
}

/* custom for bootstrap 5 */
.form-check.check-secondary .form-check-input {
  border: 1px solid #6c757d;
}
.form-check.check-secondary .form-check-input:checked {
  background-color: #6c757d !important;
}

.form-check.check-success .form-check-input {
  border: 1px solid #198754;
}
.form-check.check-success .form-check-input:checked {
  background-color: #198754 !important;
}

.form-check.check-danger .form-check-input {
  border: 1px solid #dc3545;
}
.form-check.check-danger .form-check-input:checked {
  background-color: #dc3545 !important;
}

.form-check.check-warning .form-check-input {
  border: 1px solid #ffc107;
}
.form-check.check-warning .form-check-input:checked {
  background-color: #ffc107 !important;
}

.form-check.check-info .form-check-input {
  border: 1px solid #0dcaf0;
}
.form-check.check-info .form-check-input:checked {
  background-color: #0dcaf0 !important;
}

.form-check.check-dark .form-check-input {
  border: 1px solid #212529;
}
.form-check.check-dark .form-check-input:checked {
  background-color: #212529 !important;
}

.btn.btn-info, .btn.btn-warning {
  color: white;
}
.btn.btn-info:active, .btn.btn-warning:active {
  color: white;
}