<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <div class="text-center mb-4">
                <h5>Cảm ơn bạn đã đặt hàng!</h5>
            </div>

            <div class="text-center">
                <a asp-action="Index" asp-controller="Home" class="btn btn-primary">
                    <i class="fa fa-home me-2"></i>Về trang chủ
                </a>
                <a asp-action="Index" asp-controller="Account" class="btn btn-info ms-2">
                    <i class="fa fa-list me-2"></i>Xem đơn hàng
                </a>
            </div>
        </div>
    </div>
</div>